[include] 
    path = ~/.gitconfig-local
[core]
    excludesfile = ~/.gitignore
    editor = vim
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = vim -f '+execute \"DirDiff\" argv(0) argv(1)' $LOCAL $REMOTE
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[cola]
	spellcheck = false
